<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/5df26d4c-13b5-419a-8edd-aeabdaa0f865/resourceGroups/azureappservice/providers/Microsoft.Web/sites/csvdatamanagementtool</ResourceId>
    <ResourceGroup>azureappservice</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://csvdatamanagementtool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0c0ca0f8-fd0d-4fa4-a8ab-7bfda1a32e79</ProjectGuid>
    <PublishUrl>https://csvdatamanagementtool.scm.azurewebsites.net/</PublishUrl>
    <UserName>$csvdatamanagementtool</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>